---

---

<div
    class="w-full h-20 md:h-24 border-b border-edge-primary light:bg-surface-1 [--color:var(--color-surface-3)] dark:[--color:var(--color-surface-2)] bg-[image:repeating-linear-gradient(315deg,_var(--color)_0,_var(--color)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-fixed"
>
    <div class="border-x border-edge-primary w-full h-full max-w-5xl mx-auto"></div>
</div>