---


---


<div
    class="w-full h-20 md:h-24 relative "
>
    <div class=" w-full h-full max-w-5xl mx-auto landing-block-content-decorator relative">
        <div class="border-x border-edge-primary  border-t border-edge-primary  border-b border-edge-primary absolute w-full left-0 h-full top-0 bg-[image:repeating-linear-gradient(315deg,_var(--color)_0,_var(--color)_1px,_transparent_0,_transparent_50%)]
        light:bg-surface-1 [--color:var(--color-surface-3)] dark:[--color:var(--color-surface-2)]  bg-[size:10px_10px] bg-fixed z-[-1]">
        
        </div>

    </div>
</div>