<div class="alert alert-soft alert-primary flex items-start gap-4">
    <span class="icon-[tabler--check] shrink-0 size-6"></span>
    <div class="flex flex-col gap-1">
        <h5 class="text-lg font-semibold">Server maintenance in progress</h5>
        <p>Our servers are currently undergoing maintenance. We apologize for any inconvenience caused and appreciate your patience.</p>
    </div>
</div>
