<div role="alert" class="alert alert-warning flex items-center gap-4">
    <span class="icon-[tabler--alert-triangle] shrink-0 size-6"></span>
    <p><span class="text-lg font-semibold">Warning alert:</span> Stay informed about the latest updates and upcoming events.</p>
</div>

<div role="alert" class="alert alert-success flex items-center gap-4">
    <span class="icon-[tabler--circle-check] shrink-0 size-6"></span>
    <p><span class="text-lg font-semibold">Success alert:</span> Explore our recent achievements and upcoming events.</p>
</div>

<div role="alert" class="alert alert-soft alert-warning flex items-center gap-4">
    <span class="icon-[tabler--alert-triangle] shrink-0 size-6"></span>
    <p><span class="text-lg font-semibold">Warning alert:</span> Take note of important updates and upcoming events.</p>
</div>

<div role="alert" class="alert alert-soft alert-success flex items-center gap-4">
    <span class="icon-[tabler--circle-check] shrink-0 size-6"></span>
    <p><span class="text-lg font-semibold">Success alert:</span> Celebrate our successes and stay informed about upcoming events.</p>
</div>

<div role="alert" class="alert alert-outline alert-warning flex items-center gap-4">
    <span class="icon-[tabler--alert-triangle] shrink-0 size-6"></span>
    <p><span class="text-lg font-semibold">Warning alert:</span> Pay attention to warnings and stay updated about upcoming events.</p>
</div>

<div role="alert" class="alert alert-outline alert-success flex items-center gap-4">
    <span class="icon-[tabler--circle-check] shrink-0 size-6"></span>
    <p><span class="text-lg font-semibold">Success alert:</span> Be aware of important notices and upcoming events.</p>
</div>
