<div role="alert" id="dismiss-alert1" class="alert alert-soft alert-primary removing:translate-x-5 removing:opacity-0 flex items-center gap-4 transition duration-300 ease-in-out">
    Dive into our platform to discover exciting new features and updates.
    <button data-remove-element="#dismiss-alert1" aria-label="Close Button" class="ms-auto cursor-pointer leading-none">
        <span class="icon-[tabler--x] size-5"></span>
    </button>
</div>