<div class="alert alert-soft alert-primary flex items-start gap-4">
    <span class="icon-[tabler--info-circle] shrink-0 size-6"></span>
    <div class="flex flex-col gap-1">
      <h5 class="text-lg font-semibold">Please ensure that your password meets the following requirements:</h5>
      <ul class="mt-1.5 list-inside list-disc">
        <li>Contains a minimum of 10 characters and a maximum of 100 characters.</li>
        <li>Includes at least one lowercase character.</li>
        <li>Incorporates at least one special character such as !, @, #, or ?.</li>
      </ul>
    </div>
  </div>