<div role="alert" class="alert alert-soft alert-primary">
    Please read the <a href="#" class="link link-primary font-semibold">policy</a>. These can be configured in Settings.
    <div class="mt-4 flex gap-2">
      <button type="button" class="btn btn-primary btn-sm">Ok</button>
      <button type="button" class="btn btn-outline btn-secondary btn-sm">Cancel</button>
    </div>
  </div>