<div role="alert" class="alert bg-neutral-500">
    A quick alert conveying key information or prompting action within a system.
</div>
<div role="alert" class="alert alert-primary">Welcome to our platform! Explore our latest features and updates.</div>
<div role="alert" class="alert alert-info">Stay tuned for our upcoming events and announcements.</div>
<div role="alert" class="alert alert-success">Your transaction was successful. Thank you for choosing our service!</div>
<div role="alert" class="alert alert-warning">
    Attention! Your account security may be at risk. Enable two-factor authentication now.
</div>
<div role="alert" class="alert alert-error">Oops! It seems there was an unexpected error. Please try again later.</div>
