<button class="btn btn-square btn-primary" aria-label="Loading Button">
    <span class="loading loading-spinner"></span>
</button>
    
<button class="btn btn-primary">
    <span class="loading loading-spinner"></span>
    loading
</button>