<button class="rounded-full btn btn-primary">Primary</button>
<button class="rounded-full btn btn-soft btn-primary">Primary</button>
<button class="rounded-full btn btn-outline btn-primary">Primary</button>
<button class="rounded-full btn btn-gradient btn-primary">Primary</button>