<div class="flex flex-wrap gap-2 w-full">
    <button class="btn [--btn-color:#1877F2] text-white" >
      <span class="icon-[tabler--brand-facebook] size-4.5 shrink-0"></span> Facebook
    </button>
    <button class="btn [--btn-color:#000] text-white" >
      <span class="icon-[tabler--brand-x] size-4.5 shrink-0"></span> Twitter
    </button>
    <button class="btn [--btn-color:#0a66c2] text-white" >
      <span class="icon-[tabler--brand-linkedin] size-4.5 shrink-0"></span> LinkedIn
    </button>
    <button class="btn [--btn-color:#2b3137] text-white" >
      <span class="icon-[tabler--brand-github] size-4.5 shrink-0"></span> Github
    </button>
  </div>