---
import BaseHead from '../components/BaseHead.astro'
import '../styles/landing.css';
import '../styles/fonts.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../const'


interface Props {
    title?: string
    description?: string,
    image?: string
    badge?: string
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props
---

<script>
    function setCustomization(document) {
        const theme = localStorage.getItem('theme') || 'dark'

        const root = document.documentElement.classList

        if (theme == 'dark') {
            root.add('dark')
        } else {
            root.remove('dark')
        }
    }

    setCustomization(document)

    document.addEventListener('astro:before-swap', (event) => {
        setCustomization(event.newDocument)
    })
</script>

<html class="scroll-smooth" lang="en"  data-shade="900" data-rounded="large" data-theme="soft">
    <head>
        <BaseHead title={title} description={description} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">
      
    </head>
    <body  style="font-family: var(--font-sans)" class="bg-gray-50 font-sans antialiased dark:bg-gray-950 dark:[--body-text-color:theme(colors.gray.300)]">
        <div class="LandingLayout grid grid-rows-[auto_1fr_auto] min-h-screen">
            <header class="fixed top-0 left-0 right-0 z-10 h-[3.5rem] border-b border-edge-primary in-data-scroll-locked:pr-(--removed-body-scroll-bar-size) row-start-1 row-end-2" style="transform: none;">
                <div class="grid justify-center lg:mx-auto grid-cols-1 md:grid-cols-[var(--width-gutter)_minmax(0,calc(var(--width-landing-container)-var(--width-gutter)*2))_var(--width-gutter)] h-full max-w-7xl">
                    <div class="col-start-1 hidden border-x border-edge-primary md:block"></div>
                    <div>
                        <div class="px-4 h-full flex items-center justify-between">
                            <a class="flex items-center gap-1.5" href="/">
                                <div>
                                    <svg class="h-4 md:h-5" viewBox="0 0 851 187" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M398.26 147.496C388.921 147.496 381.025 145.917 374.57 142.758C368.253 139.462 363.377 134.655 359.944 128.338C356.648 121.883 355 113.987 355 104.648V44.29H376.424V103.206C376.424 111.995 378.209 118.725 381.78 123.394C385.351 127.926 390.844 130.192 398.26 130.192C405.676 130.192 411.238 127.857 414.946 123.188C418.654 118.519 420.508 111.858 420.508 103.206V44.29H441.726V104.854C441.726 118.862 438.018 129.505 430.602 136.784C423.186 143.925 412.405 147.496 398.26 147.496Z"
                                            fill="currentColor"
                                        ></path>
                                        <path
                                            d="M468.686 44.29H490.11V144.2H468.686V44.29ZM468.686 126.896H490.11V144.2H468.686V126.896ZM468.686 44.29H479.398V61.594H468.686V44.29ZM467.656 3.502H490.934V27.192H467.656V3.502Z"
                                            fill="currentColor"
                                        ></path>
                                        <path
                                            d="M518.175 44.29H539.599V50.264C539.599 52.736 539.461 55.414 539.187 58.298C542.345 53.2167 546.74 49.0967 552.371 45.938C558.139 42.642 564.662 40.994 571.941 40.994C581.005 40.994 588.901 43.3287 595.631 47.998C602.497 52.53 607.716 58.8473 611.287 66.95C614.995 74.9153 616.849 84.048 616.849 94.348C616.849 104.923 614.926 114.261 611.081 122.364C607.235 130.329 601.811 136.509 594.807 140.904C587.94 145.299 580.112 147.496 571.323 147.496C563.769 147.496 557.383 145.985 552.165 142.964C546.946 139.943 542.62 135.754 539.187 130.398C539.461 133.557 539.599 136.509 539.599 139.256V186.636H518.175V44.29ZM566.791 130.81C572.421 130.81 577.365 129.299 581.623 126.278C585.88 123.119 589.176 118.793 591.511 113.3C593.845 107.807 595.013 101.421 595.013 94.142C595.013 87.138 593.845 80.8893 591.511 75.396C589.176 69.9027 585.88 65.6453 581.623 62.624C577.503 59.4653 572.559 57.886 566.791 57.886C561.435 57.886 556.559 59.3967 552.165 62.418C547.907 65.4393 544.543 69.6967 542.071 75.19C539.736 80.546 538.569 86.8633 538.569 94.142C538.569 101.421 539.736 107.807 542.071 113.3C544.543 118.793 547.907 123.119 552.165 126.278C556.422 129.299 561.297 130.81 566.791 130.81Z"
                                            fill="currentColor"
                                        ></path>
                                        <path
                                            d="M681.108 147.496C671.769 147.496 663.872 145.917 657.418 142.758C651.1 139.462 646.225 134.655 642.792 128.338C639.496 121.883 637.848 113.987 637.848 104.648V44.29H659.272V103.206C659.272 111.995 661.057 118.725 664.628 123.394C668.198 127.926 673.692 130.192 681.108 130.192C688.524 130.192 694.086 127.857 697.794 123.188C701.502 118.519 703.356 111.858 703.356 103.206V44.29H724.574V104.854C724.574 118.862 720.866 129.505 713.45 136.784C706.034 143.925 695.253 147.496 681.108 147.496Z"
                                            fill="currentColor"
                                        ></path>
                                        <path
                                            d="M804.888 147.496C797.472 147.496 790.949 145.985 785.318 142.964C779.825 139.805 775.567 135.617 772.546 130.398C772.821 133.419 772.958 136.441 772.958 139.462V144.2H751.534V0H772.958V49.234C772.958 51.706 772.821 54.7273 772.546 58.298C775.979 53.0793 780.374 48.8907 785.73 45.732C791.223 42.5733 797.609 40.994 804.888 40.994C813.677 40.994 821.505 43.26 828.372 47.792C835.376 52.1867 840.801 58.4353 844.646 66.538C848.491 74.6407 850.414 83.9793 850.414 94.554C850.414 105.129 848.491 114.467 844.646 122.57C840.938 130.535 835.582 136.715 828.578 141.11C821.711 145.367 813.815 147.496 804.888 147.496ZM799.944 130.81C805.575 130.81 810.519 129.299 814.776 126.278C819.171 123.119 822.535 118.862 824.87 113.506C827.342 108.013 828.578 101.695 828.578 94.554C828.578 87.4127 827.342 81.0953 824.87 75.602C822.535 69.9713 819.171 65.6453 814.776 62.624C810.519 59.4653 805.575 57.886 799.944 57.886C794.451 57.886 789.575 59.3967 785.318 62.418C781.061 65.4393 777.696 69.6967 775.224 75.19C772.889 80.6833 771.722 87.0693 771.722 94.348C771.722 101.489 772.889 107.807 775.224 113.3C777.696 118.793 781.061 123.119 785.318 126.278C789.575 129.299 794.451 130.81 799.944 130.81Z"
                                            fill="currentColor"
                                        ></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 176.294V9H167.294V176.294H0Z" fill="#bcf800"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M185.294 176.292V79.5864H282V176.292H185.294Z" fill="#bcf800"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M185.294 61.5882V9H282V61.5882H185.294Z" fill="#bcf800"></path>
                                    </svg>
                                </div>
                                <span class="text-[10px] tracking-1 text-primary-8 font-mono mb-1.5 pointer-events-none select-none">alpha</span>
                            </a>
                        </div>
                    </div>
                    <div class="md:col-start-3 hidden border-x border-edge-primary md:block"></div>
                </div>
            </header>
            <main class="row-start-2 row-end-3">
                <slot />
            </main>
        </div>
        
    </body>
</html>
